<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gamecotich.flipdominion" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FLIP DOMINION</name>
    <description>Game Flip Dominion</description>
    <author email="gamecotich.com@gmail.com" href="https://gamecotich.com">
        EG Team
    </author>
    <content src="index_v1.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="https://*" />
    <allow-navigation href="https://*/*" />
    <platform name="android">
        <preference name="PLAY_SERVICES_VERSION" default="23.2.0" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="CrosswalkWebView" value="true" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="SplashScreenDelay" value="500" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="FadeSplashScreenDuration" value="300" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="Fullscreen" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="12.0" />
        <preference name="SwiftVersion" value="5.3" />
    </platform>
</widget>