<?xml version='1.0' encoding='utf-8'?>
<widget id="memory_quest.example.hello" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Memory Quest</name>
    <description>Game Memory Quest</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        EG Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="https://*" />
    <allow-navigation href="https://*/*" />
    <platform name="android">
        <preference name="PLAY_SERVICES_VERSION" default="23.2.0" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="CrosswalkWebView" value="true" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="SplashScreenDelay" value="500" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="FadeSplashScreenDuration" value="300" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="Fullscreen" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
    </platform>
</widget>
