<?xml version='1.0' encoding='utf-8'?>
<widget id="one.eternalgalaxy.chibi_wallet" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chibi Wallet</name>
    <description>Quản lý chi tiêu dễ dàng với heo đất chibi dễ thương. Theo dõi thu chi, tiết kiệm thông minh và hình thành thói quen tài chính tích cực mỗi ngày.</description>
    <author email="superman.developer.app@gmail.com" href="https://eternalgalaxy.one">
        SupermanDev
    </author>
    <content src="/" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="https://*" />
    <allow-navigation href="https://*/*" />
    <platform name="android">
        <preference name="PLAY_SERVICES_VERSION" default="23.2.0" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
    </platform>
</widget>
